*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.items{
    height:200px;
    width:200px;
    border:2px solid black;
    font-family:'montserrat';
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-left:10px;
}
.rect{
    display: flex;
}
/* #cursor{
    height:20px;
    width: 20px;
    background-color:aqua;
    border-radius:50%;
    position: absolute;
} */
